*
{
    color: #FFFFFF;
    font-family: 'Helvetica Neue', 'Roboto';
    margin: 0;
}

.flex-container
{
    display: flex;
    height: 100%;
}

.flex-child
{
    flex: 1;
    padding: 48px 40px;
}

h1, h2 
{
    font-weight: 500;
}

p 
{
    font-weight: 200;
}

.section-admin
{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    flex-basis: 200px;
	flex-grow: 0;
	flex-shrink: 2;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
    background-color: #272727; /* turn this into a token later */
}

.section-main
{
    height: 100vh;
    width: 40vw;
    background-color: #353535; /* turn this into a token later */
}

.menu
{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li 
{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
}

.menu li:hover, .active
{
    background: #353535;
}

ul
{
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu a 
{
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a span
{
    overflow: hidden;
    white-space: nowrap;
}

.menu a i 
{
    font-size: 1.2rem;
}

.logout
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
}

.section-drilldown
{
    height: 100vh;
    width: 40vw;
    background-color: #5C5C5C; /* turn this into a token later */
}

.divider-solid
{
    border-top: 1px solid #4A4A4A;
    margin: 32px 0px;
    width: 100%;
    opacity: 25%;
}

.element-progression-incomplete
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px;
    margin: 8px 0px;
    background-color: #4A4A4A;
    border-radius: 5px;
}

.element-progression-incomplete:hover
{
    background-color: #5C5C5C;
}

.element-left
{
    display: flex;
    justify-content: left;
    align-items: center;
}

.fa-ellipsis-vertical
{
    padding-right: 16px;
}

.circular-progress
{
    position: relative;
    height: 40px;
    width: 40px;
    background-color: #41A128;
    border-radius: 50%;
    background: conic-gradient(#41A128 3.6deg, #FFF 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-progress::before
{
    content: "";
    position: absolute;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #4A4A4A;
}

.progress-value 
{
    position: relative;
    font-size: 12px;
    color: #FFF;
}

.new-progression-form
{
}

.input-box-container
{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#input-box 
{
    width: 100%;
    background-color: #353535;
    border-style: none;
    border-bottom: 1px solid #FFF;
}

.btn-add
{
    position: absolute;
    justify-content: right;
}