*
{
    color: #FFFFFF;
    font-family: 'Helvetica Neue', 'Roboto';
    margin: 0;
}

body
{
    overflow-y: auto;
}

.flex-container
{
    display: flex;
    height: 100%;
}

.flex-child
{
    flex: 1;
    padding: 48px 40px;
}

h1
{
    font-size: 24px;
}

h1, h2 
{
    font-weight: 500;
}

p 
{
    font-weight: 200;
}

.fa-solid
{
    color: #FFF;
    font-size: 1.2rem;
}

.section-admin
{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    flex-basis: 50px;
	flex-grow: 0;
	flex-shrink: 4;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
    background-color: #272727; /* turn this into a token later */
}

.section-admin:hover
{
    flex-basis: 240px;
    transition: .25s;
}

.section-main
{
    position: sticky;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    width: 40vw;
    background-color: #202020; /* turn this into a token later */
}

.menu
{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li 
{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
}

.menu li:hover
{
    background: #3c3352;
    cursor: pointer;
}

.active
{
    background: #8054FD;
    cursor: pointer;
}

ul
{
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu a 
{
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a span
{
    overflow: hidden;
    white-space: nowrap;
}

.menu a i 
{
    font-size: 1.2rem;
}

.logout
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
}

.section-drilldown
{
    position: sticky;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    width: 40vw;
    background-color: #202020; /* turn this into a token later */
    border-left: 1px solid rgba(255, 255, 255, 0.25);
}

.divider-solid
{
    border-top: 1px solid #4A4A4A;
    margin: 32px 0px;
    width: 100%;
    opacity: 25%;
}

.list-item
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px;
    margin: 8px 0px;
    background-color: #4A4A4A;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
}

.list-item:hover
{
    background-color: #5C5C5C;
    cursor: pointer;
}

.list-item:active
{
    background-color: #8054FD;
}

.element-left
{
    display: flex;
    justify-content: left;
    align-items: center;
}

.fa-ellipsis-vertical
{
    padding-right: 16px;
}

.circular-progress
{
    position: relative;
    height: 40px;
    width: 40px;
    background-color: #41A128;
    border-radius: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    background: conic-gradient(#41A128 3.6deg, #FFF 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-progress::before
{
    content: "";
    position: absolute;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #4A4A4A;
}

.progress-value 
{
    position: relative;
    font-size: 12px;
    color: #FFF;
}

.add-form-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-box-container
{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.input-box-container i
{
    font-size: 1.2rem;
    opacity: 50%;
}

.input-box 
{
    width: 100%;
    background-color: #202020;
    border-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding: 16px 0px 16px 16px;
    font-size: 16px;
}

.input-box:focus
{
    outline: none;
}

.btn-add
{
    padding: 12px 16px;
    background-color: #202020;
    border-style: none;
    border-radius: 50%;
    flex-shrink: 0;
    flex-grow: 0;
}

.btn-add i
{
    font-size: 1.2rem;
}

.btn-add:hover, #id-add-step:hover
{
    background-color: #8054FD;
    cursor: pointer;
}

.circle-unchecked
{
    font-size: 1.2rem;
}

.completion-circle
{
    content: '';
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    background-image: url(assets/circle-regular.svg);
    background-position: center;
}

.checked
{
    opacity: 35%;
    text-decoration: line-through;
}

.checked > .completion-circle
{
    background-image: url(assets/circle-check-solid.svg);
}

.rightclick-menu-wrapper
{
    position: fixed;
    visibility: hidden;
    display: flex;
    justify-content: center;
    height: 0px;
    width: 100px;
    background-color: #353535;
    border-radius: 5px;
    border: 1px solid #ffffff55;
    z-index: 2;
}

.rightclick-menu-container
{
    width: 100%;
}

.rightclick-menu-item
{
    display: flex;
    align-items: center;
    padding: 12px 8px;
    margin: 0px;
    font-weight: 200;
}

.rightclick-menu-item:hover
{
    background-color: #5C5C5C;
    cursor: pointer;
}

.righclick-menu-divider
{
    border-top: 1px solid #4A4A4A;
    width: 100%;
    opacity: 25%;
}

.title-step:focus
{
    outline: none;
}

#id-drilldown-none-selected
{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
    opacity: 25%;
}

#id-drilldown-none-selected i
{
    font-size: 5rem;
    margin-bottom: 16px;
}

#id-drilldown-none-selected h1
{
    text-align: center;
}